{{ if isset .Site.Params "partners" }}
{{ if .Site.Params.partners.enable }}
{{ if gt (len .Site.Data.partners) 0 }}
<section class="bar background-white">
    <div class="container">

        {{ $elements := default 3 .Site.Params.partners.cols }}
        {{ $partners := sort .Site.Data.partners "weight" }}

        {{ $total_rows := div (len $partners) $elements }}

        {{ if gt (mod (len $partners) $elements) 0 }}
          {{ $total_rows = add $total_rows 1 }}
        {{ end }}

        {{ range $i, $sequence := seq $total_rows }}
          <div class="row row-{{ $i }} row-{{ if eq (mod $i 2) 0 }}odd{{ else }}even{{ end }}">
            {{ range $j, $sequence2 := (seq $elements) }}

                {{ $feature_index := add (mul $i $elements) $j }}
                {{ if lt $feature_index (len $partners) }}
                    {{ $element := index $partners $feature_index }}

                    <div class="col-md-{{ div 12 $elements }} col-{{ $j }} col-{{ if eq (mod $j 2) 0 }}odd{{ else }}even{{ end }}">
                        <div class="box-simple">
                            {{ with $element.url }}
                            <a href="{{ $element.url }}">
                            {{ end }}
                                <div class="logo">
                                    <img src="../{{ $element.image }}" style="max-height: 50px; max-width: 220px;" />
                                </div>
                            {{ with $element.url }}
                            </a>
                            {{ end }}
                            <div class="description">
                                <!--<h3>{{ $element.name | markdownify }}</h3>--><br>
                                <p>{{ $element.description | markdownify }}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
          </div>
        {{ end }}

        {{ if isset .Site.Params "associatedpartners" }}
        {{ if .Site.Params.associatedpartners.enable }}
        {{ if gt (len .Site.Data.associatedpartners) 0 }}
                <div class="title" style="text-align: center; padding-top: 50px;">
                    <h2>{{ .Site.Params.associatedpartners.title | markdownify }}</h2><br>
                </div>
        
                {{ $elements := default 3 .Site.Params.associatedpartners.cols }}
                {{ $associatedpartners := sort .Site.Data.associatedpartners "weight" }}
        
                {{ $total_rows := div (len $associatedpartners) $elements }}
        
                {{ if gt (mod (len $associatedpartners) $elements) 0 }}
                  {{ $total_rows = add $total_rows 1 }}
                {{ end }}
        
                {{ range $i, $sequence := seq $total_rows }}
                  <div class="row row-{{ $i }} row-{{ if eq (mod $i 2) 0 }}odd{{ else }}even{{ end }}">
                    {{ range $j, $sequence2 := (seq $elements) }}
        
                        {{ $feature_index := add (mul $i $elements) $j }}
                        {{ if lt $feature_index (len $associatedpartners) }}
                            {{ $element := index $associatedpartners $feature_index }}
        
                            <div class="col-md-{{ div 12 $elements }} col-{{ $j }} col-{{ if eq (mod $j 2) 0 }}odd{{ else }}even{{ end }}">
                                <div class="box-simple">
                                    {{ with $element.url }}
                                    <a href="{{ $element.url }}">
                                    {{ end }}
                                        <div class="logo">
                                            <img src="../{{ $element.image }}" style="max-height: 50px; max-width: 220px;" />
                                        </div>
                                    {{ with $element.url }}
                                    </a>
                                    {{ end }}
                                    <div class="description">
                                        <!--<h3>{{ $element.name | markdownify }}</h3>--><br>
                                        <p>{{ $element.description | markdownify }}</p>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                  </div>
                {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        

        
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}



