<footer id="footer">
    <div class="container">

        {{ if isset .Site.Params "address" }}
        <div class="col-md-6 col-sm-6">

          <h4>Project Coordinator</h4>

            {{ .Site.Params.address | safeHTML }}

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}


        {{ if isset .Site.Params "about_us" }}
        <div class="col-md-6 col-sm-6">
            <h4>Acknowledgement</h4>

            <img src="{{ .Site.Params.eu_logo | relURL }}" style="float: left; max-width: 90px; padding-right: 10px; padding-bottom: 5px;"/>
            {{ .Site.Params.about_us | safeHTML }}

            <hr class="hidden-md hidden-lg hidden-sm">

        </div>
        <!-- /.col-md-4 -->
        {{ end }}



    </div>
    <!-- /.container -->
</footer>

<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
    <div class="footer-copyright text-center">
        {{ if isset .Site.Params "copyright" }}
        <p>{{ .Site.Params.copyright | safeHTML }} <a href="{{ .Site.Params.termsofservice | relURL }}">Terms of use.</a></p>
        {{ end }}
    </div>
</div>
<!-- /#copyright -->

<!-- *** COPYRIGHT END *** -->
