{{ if isset .Site.Params "objectives" }}
{{ if .Site.Params.objectives.enable }}
{{ if gt (len .Site.Data.objectives) 0 }}
<section class="bar background-white">
    <div class="container">
        <div class="heading text-center">
            <h2>{{ .Site.Params.objectives.title | markdownify }}</h2>
        </div>

        {{ $elements := default 3 .Site.Params.objectives.cols }}
        {{ $objectives := sort .Site.Data.objectives "weight" }}

        {{ $total_rows := div (len $objectives) $elements }}

        {{ if gt (mod (len $objectives) $elements) 0 }}
          {{ $total_rows = add $total_rows 1 }}
        {{ end }}

        {{ range $i, $sequence := seq $total_rows }}
          <div class="row row-{{ $i }} row-{{ if eq (mod $i 2) 0 }}odd{{ else }}even{{ end }}">
            {{ range $j, $sequence2 := (seq $elements) }}

                {{ $objective_index := add (mul $i $elements) $j }}
                {{ if lt $objective_index (len $objectives) }}
                    {{ $element := index $objectives $objective_index }}

                    <div class="col-md-{{ div 12 $elements }} col-{{ $j }} col-{{ if eq (mod $j 2) 0 }}odd{{ else }}even{{ end }}">
                        <div class="box-simple">
                            {{ with $element.url }}
                            <a href="{{ $element.url }}">
                            {{ end }}
                                <div class="icon">
                                    <i class="{{ $element.icon }}"></i>
                                </div>
                            {{ with $element.url }}
                            </a>
                            {{ end }}
                            <h3>{{ $element.name | markdownify }}</h3>
                            <div class="description">
                                <p>{{ $element.description | markdownify }}</p>
                            </div>
                        </div>
                    </div>
                {{ end }}
            {{ end }}
          </div>
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
